/*--------------------------------*/
/* Initial Setup */
/*--------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #ffe259;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-size: 18px;
  font-family: 'Comfortaa', cursive;
  text-rendering: optimizeLegibility;
}

.main {
  height: 100%;
  width: auto;
}

/*--------------------------------*/
/* Nav Bar */
/*--------------------------------*/

nav * {
  display: inline-block;
  padding: 1%;
}

nav {
  background-color: #336699;
  border-bottom: 12px double #eee2dc;
  height: 90px;
}

.logo {
  box-sizing: content-box;
  height: 40px;
  width: 40px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.4em;
}

/*--------Back Button------------*/

.back a {
  background-color: #ffae1a;
  border-bottom: 4px solid #d19019;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px 25px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 1em;
}

.back a:hover {
  border-bottom: 2px solid #a36900;
  border-top: 2px solid #d19019;
  background-color: #d19019;
}

.back a:active {
  border-bottom: none;
  border-top: 2px solid #a36900;
  background-color: #a36900;
}

.calc-title {
  color: #26364d;
  margin: 0 auto;
  width: 348px;
}

h3 {
  padding-top: 2em;
  text-align: center;
}

/*--------------------------------*/
/* Calculator */
/*--------------------------------*/

.calc {
  background-color: #4d79ff;
  border-bottom: 5px solid #2e4899;
  border-left: 5px solid #2e4899;
  border-radius: 10px;
  height: 410px;
  margin: 2em auto auto auto;
  padding: 1%;
  width: 350px;
}

.calc  {
  text-align: center;
}

.calc .display {
  text-align: right;
}

.display {
  background-color: #e6e6e6;
  color: #333333;
  font-family: 'Quantico', sans-serif;
  font-size: 1.4em;
  margin:  2% auto 0 auto;
  padding: 2%;
  width: 85%;
}

::placeholder {
  color: #333333;
  opacity: 1;
}

hr {
  margin: 6% auto 4% auto;

}

input.btn {
  text-align: center;
  vertical-align: central;
}

.btn,
.btn:focus-within {
  background-color: #cccccc;
  border-radius: 10px;
  border-bottom: 4px solid #808080;
  color: #333333;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  height: 40px;
  margin-top: 5%;
  padding: 2%;
  position: relative;
  width: 20%;
}

.btn:hover {
  height: 38px;
  border-bottom: 2px solid #404040;
  background-color: #808080;
  transform: translateY(2px);
}

.btn:active {
  height: 36px;
  border-bottom: 4px solid #404040;
  background-color: #404040;
}

input {
  font-family: 'Comfortaa', cursive;
  font-size: inherit;
}

#display,
#display:hover,
#display:focus,
#display:active {
  border: 3px solid #004080;
  border-radius: 8px;
  outline: 0;
}

input,
input:hover,
input:focus,
input:active {
  outline: 0;
  border: 0;
}

input:visited {
  height: 20px;
  background-color: yellow;
}

.long,
.long:active,
.long:focus-within {
  width: 42% !important;
}

.red,
.red:focus-within {
  background-color: #ff3333;
  border-bottom: 4px solid #b30000;
  color: white;
}

.red:hover {
  height: 38px;
  background-color: #b30000;
  border-bottom: 2px solid #670000;
  transform: translateY(2px);
}

.red:active {
  height: 36px;
  border-top: none;
  border-bottom: 4px solid #800000;
  background-color: #800000;
}
